# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/.vs
/MyCode Backend Server/.vs/MyCode Backend Server
/MyCode Backend Server/MC BE Server Test/obj
/MyCode Backend Server/MyCode Backend Server/obj
/MyCode Backend Server/MC BE Server Test/MC BE Server Test.csproj
/MyCode Backend Server/MyCode Backend Server/MyCode Backend Server.csproj
/MyCode Backend Server/MyCode Backend Server/MyCode Backend Server.csproj.user
/MyCode Backend Server/MyCode Backend Server/MyCode Backend Server.http
/MyCode Backend Server/MyCode Backend Server/bin/Debug/net8.0
/MyCode Backend Server/MC BE Server Test/bin/Debug/net8.0
/MyCode Backend Server/.vs/ProjectEvaluation
/MyCode Backend Server/MyCode Backend Server Tests/bin/Debug/net8.0
/MyCode Backend Server/MyCode Backend Server Tests/obj
/mycodereactserver/.env
/mycodereactserver/.env
/MyCode Backend Server/MyCode Backend Server/Migrations/20240130092135_InitCreatePlusSeedData.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240130092135_InitCreatePlusSeedData.Designer.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240131145327_SeedData.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240131145327_SeedData.Designer.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240130092135_InitCreatePlusSeedData.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240130092135_InitCreatePlusSeedData.Designer.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240130092135_InitCreatePlusSeedData.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240130092135_InitCreatePlusSeedData.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240130092135_InitCreatePlusSeedData.Designer.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/DataContextModelSnapshot.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240207215853_SeedDataRT.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240207221513_SeedDataRT.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240207221513_SeedDataRT.Designer.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240226132650_InitialCreate.cs
/MyCode Backend Server/MyCode Backend Server/Migrations/20240226132650_InitialCreate.Designer.cs
/MyCode Backend Server/MyCode Backend Server/Migrations
/MyCode Backend Server/vars.env
/MyCode Backend Server/vars.env
/MyCode Backend Server/obj/Docker
/MyCode Backend Server/.env
/MyCode Backend Server/MyCode Backend Server/.env
/MyCode Backend Server/MyCode Backend Server/.env
/MyCode Backend Server/bin/Debug
/MyCode Backend Server/MyCode Backend Server/Certs/MyCode Backend Server.pfx
/mycodereactserver/certs/mycodereactserver.key
/mycodereactserver/certs/mycodereactserver.pem
/MyCode Backend Server/obj/Debug
/MyCode Backend Server/MyCode Backend Server/Certs/mycode.key
/MyCode Backend Server/MyCode Backend Server/Certs/mycode.pem
/MyCode Backend Server/MyCode Backend Server/Certs/mycode.pfx
/mycodereactserver/certs/mycode.key
/mycodereactserver/certs/mycode.pem
/%USERPROFILE%/.aspnet/https
