.customer-chat-container {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: linear-gradient(-45deg, rgb(76, 255, 0) 10%, rgb(0, 47, 43) 70%);
    background-size: 400% 400%;
    animation: wave 30s infinite linear;
    max-width: 450px;
    max-height: 550px;
    right: 15px;
    bottom: 162px;
}

.customer-chat-input {
    position: relative;
    left: 60px;
    bottom: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.customer-chat-container input[type="text"] {
    background: lightgrey;
    height: 30px;
    width: 200px;
    left: 20px;
    bottom: -53px;
    font-family: Vancouver, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.customer-chat-container button {
    position: relative;
    left: 80px;
    bottom: -16px;
    height: 38px;
    width: 80px;
    background-color: rgba(40, 10, 50, 1.8);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: Vancouver, sans-serif;
    font-size: 17px;
    font-weight: bold;
}

    .customer-chat-container button:hover {
        background-color: #0056b3;
    }
